<!-- <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form> -->
<div style="  width: 35%;
min-width: 35%;
margin: 4rem 0rem 0rem 15rem;">
<mat-toolbar>
    <span>LOGIN</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form class="my-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
           <mat-form-field class="full-width" style="margin-right: 5rem;
           display: inline;">
              <mat-label>User Name</mat-label>
              <input  matInput type="text"  placeholder="Username" name="username" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Username is required</div>
            </div>
           </mat-form-field>
           <mat-form-field class="full-width"style="margin-right: 5rem;
           display: inline;">
              <mat-label>Password</mat-label>
              <input  matInput  placeholder="Password" name="password" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
            </mat-form-field>
        
            <mat-card-actions>
                <button mat-raised-button  color="primary">LOGIN</button>
             </mat-card-actions>
        </form>
     </mat-card-content>
     <app-alert></app-alert>
  </mat-card>
 </div>